@page "/EditCalendars"

<PageTitle>Edit Calendars</PageTitle>﻿

@using PersonalManager.Logic
<div class="border m-3 p-2">
    <h3>Select Calendar</h3>
    
        
    @foreach (var dCal in mainRunner.dailyCalendars)
    {
        <label>
            
            <button @onclick="()=> setDate(dCal)">@dCal.Date</button>
        </label>
        
    }
</div>
<div class="border m-3 p-2">
    <h3>Create New Calendar</h3>
    <form @onsubmit="addCalendar">
        <label>
            Date:
            <input @bind="givenDay" type="text" />
        </label>
        <button type="submit">Add</button>
    </form>
</div>
<div class="border m-3 p-2">
    <h3>Create New Event</h3>
    <form @onsubmit="addEvent">
        
        <label>
            Time:
            <input @bind="time" type="text" />
        </label>
        <label>
            Name:
            <input @bind="name" type="text" />
        </label><label>
            Description:
            <input @bind="description" type="text" />
        </label>

        <button type="submit">Add</button>
    </form>
</div>
<div class="border m-3 p-2">
    <h3>Create New Task</h3>
    <form @onsubmit="addTask">
        
        <label>
            Name:
            <input @bind="name" type="text" />
        </label>
        <label>
            Description:
            <input @bind="description" type="text" />
        </label>
        <button type="submit">Add</button>
    </form>
</div>
<div class="border m-3 p-2">
    <h3>Create New Reminder</h3>
    <form @onsubmit="addReminder">
        
        <label>
            Time:
            <input @bind="time" type="text" />
        </label>
        <label>
            Name:
            <input @bind="name" type="text" />
        </label>
        <button type="submit">Add</button>
    </form>
</div>
<div class="border m-3 p-2">
    <h3>Create New Alarm</h3>
    <form @onsubmit="addAlarm">
        <label>
            Time:
            <input @bind="time" type="text" />
        </label>
        <button type="submit">Add</button>
    </form>
</div>
<div class="border m-3 p-2">
    <h3>Create New Note</h3>
    <form @onsubmit="addNote">
        
        <label>
            Content:
            <input @bind="description" type="text" />
        </label>
        <button type="submit">Add</button>
    </form>
</div>

@code {
    DateOnly givenDay = DateOnly.FromDateTime(DateTime.Now);
    TimeOnly time;
    string name = "";
    string description = "";

    MainRunner mainRunner = MainRunner.Instance;
    
    void addCalendar()
    {
        mainRunner.CreateNewCalendar(givenDay);
    }
    void addTask()
    {
        var task = mainRunner.CreateNewTask(name, description, givenDay);
        mainRunner.AddTaskToDay(task, givenDay);
    }
    void addEvent()
    {
        var newEvent = mainRunner.CreateNewCalendarEvent(name, description, time, givenDay);
        mainRunner.AddEventToDay(newEvent);
    }
    void addAlarm()
    {
        var alarm = mainRunner.CreateNewAlarm(time);
        mainRunner.AddAlarmToDay(alarm, givenDay);

    }
    void addNote()
    {
        var note = mainRunner.CreateNewNote(description, givenDay);
        mainRunner.AddNoteToDay(note);
    }
    void addReminder()
    {
        var reminder = mainRunner.CreateNewReminder(name, time);
        mainRunner.AddReminderToDay(reminder, givenDay);
    }
    void setDate(DailyCalendar calendar)
    {
        givenDay = calendar.Date;
    }

}