@page "/MainPage"
@using PersonalManager.Logic
<PageTitle>Current Calendars</PageTitle>

<h1>Main Page</h1>

@foreach (var dCal in mainRunner.dailyCalendars)
{

        <p>@dCal.Date</p>
        foreach(var calItem in dCal.calendarItems)
        {
        <p>@calItem.CalendarText</p>
        }
}
@code {
    MainRunner mainRunner = MainRunner.Instance;
}
